<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example" />
<!--<context:property-placeholder location="classpath:muscPlayer.properties"/>-->

<!--    <bean id="musicBean"-->
<!--          class="org.example.ClassicalMusic"-->
<!--          init-method="doMyInit"-->
<!--          destroy-method="doMyDestroy"-->
<!--          factory-method="getClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id="muscPlayer"-->
<!--          class="org.example.MuscPlayer">-->
<!--        <constructor-arg ref="musicBean"/>-->
<!--    </bean>-->

<!--        <bean id="muscPlayer"-->
<!--              class="org.example.MuscPlayer" scope="prototype">-->
<!--            <property name = "music" ref="musicBean"/>-->
<!--            <property name ="name" value = "${name}"/>-->
<!--            <property name ="volume" value = "${volume}"/>-->
<!--        </bean>-->

<!--    <bean id="classicalMusic"-->
<!--          class="org.example.ClassicalMusic">-->
<!--    </bean>-->
<!--    <bean id="rockMusic"-->
<!--          class="org.example.RockMusic">-->
<!--    </bean>-->
<!--    <bean id="popMusic"-->
<!--          class="org.example.PopMusic">-->
<!--    </bean>-->
<!--            <bean id="muscPlayer"-->
<!--                  class="org.example.MuscPlayer">-->
<!--                <property name="musicList">-->
<!--                    <list>-->
<!--                        <ref bean="classicalMusic"/>-->
<!--                        <ref bean="rockMusic"/>-->
<!--                        <ref bean="popMusic"/>-->
<!--                    </list>-->
<!--                </property>-->
<!--                <property name ="name" value = "${name}"/>-->
<!--                <property name ="volume" value = "${volume}"/>-->
<!--            </bean>-->

</beans>